---
layout: default
title: Colaboradores
---

<section class="py-5">
    <div class="container mb-5 px-3">
        <div class="card bg-dark text-white rounded-3">
            <div class="card-body">
                <h1 class="card-title text-center ">{{ page.title }}</h1>

                <div class="card-text text-light">
                    Estes são os colaboradores que ajudaram a criar e manter esta plataforma. A todos, um muito obrigado!
                </div>
            </div>
        </div>
    </div>

    <div class="container px-3">
        <div class="row row-cols-1 row-cols-md-3 g-4" data-masonry='{"percentPosition": true }'>

            {% for colaborador in site.colaboradores %}
            <div class="col">
                {%include card.html
                    link_text=colaborador.name
                    link=colaborador.url
                    image=colaborador.image
                    category=colaborador.position %}
            </div>
            {% endfor %}

        </div>
    </div>
</section>