---
layout: default
title: Notícias
permalink: /noticias/
---
<section class="py-5">
    <div class="container px-3">
        <div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
            {% for post in site.posts %}
            <div class="col">
                {%include card.html
                    title=post.title
                    link=post.url
                    image=post.image
                    category=post.category
                    date=post.date
                    content=post.excerpt %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>