<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container px-5">
            <a class="navbar-brand" href="{{'/' | relative_url}}">
                {{site.title}}
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-enciropedia" aria-controls="navbar-enciropedia" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-enciropedia">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{'/' | relative_url}}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'noticias' | relative_url}}">Notícias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'biografia' | relative_url}}">Biografia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'pnd' | relative_url}}">PND</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'videos' | relative_url}}">Vídeos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'podcast' | relative_url}}">Podcasts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{'turmaboa' | relative_url}}">Turma Boa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>