{% comment %}
Esse include serve com tag de um card padrão.

Parâmetros:
- title: Título do card
- content: Conteúdo em Markdown
- is_html: O conteúdo é HTML
- category: Categopria que será mostrada em formato de pílula
- date: Data do conteúdo
{% endcomment %}

<div class="card bg-dark text-white rounded-3 h-100 shadow border-0">

    <div class="ratio ratio-16x9">
        <iframe
        src="https://www.youtube.com/embed/{{include.video_id}}?rel=0"
        allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>

    <div class="card-body">

        <h3 class="card-title text-center">{{ include.title }}</h3>

        <div class="card-text text-light text-center">
            {% if include.category or include.date %}
            <div class="mb-3">
                {% if include.category %}
                <span class="badge bg-primary bg-gradient rounded-pill">{{ include.category }}</span>
                {% endif %}

                {% if include.date %}
                <span class="small text-muted">{{ include.date | date: "%d/%m/%Y"}}</span>
                {% endif %}
            </div>
            {% endif %}

            {% if include.content %}
            <p class="card-text mb-0">
                {% if include.is_html %}
                {{ include.content }}
                {% else %}
                {{ include.content | markdownify }}
                {% endif %}
            </p>
            {% endif %}
        </div>
    </div>
</div>