---
layout: default
---

{% assign autor = site.autores | where: 'short_name', page.author | first %}

<section class="py-5">
    <div class="container px-5">
        <div class="card bg-dark text-white text-center rounded-3">
            <img src="{{ page.image | prepend: site.baseurl }}"
                class="card-img-top" alt="{{ page.title }}">

                <div class="card-body">
                    <h1 class="card-title">{{ page.title }}</h1>
                    <p class="small text-muted">
                        <span class="badge bg-primary bg-gradient rounded-pill mb-2">{{page.category}}</span> -
                        {{ page.date | date: "%d/%m/%Y"}} -
                        <a href="{{ autor.url }}">{{ autor.name }}</a>
                    </p>
                    <p class="bg-secondary text-light py-3 rounded-1 fst-italic">
                        {{page.summary}}
                    </p>
                    <div class="card-text text-light">
                        {{ content | markdownify }}
                    </div>
                </div>
        </div>
    </div>
</section>