---
layout: default
---

<section class="py-5">
    <div class="container px-3">

        {% capture video_url %}https://www.youtube.com/watch?v={{video.video_id}}{% endcapture %}

        <div class="col">
            {%include video_card.html
                    title=page.title
                    category=page.category
                    date=page.date
                    content=page.content
                    video_id=page.video_id
                    %}
        </div>
    </div>
</section>